include include/header
.container
      div
        p
          | Home > 
          span(style="color: darkgreen") Blog 
      hr
      div
        div
          h2 BLOG
        span.glyphicon.glyphicon-th
        span.glyphicon.glyphicon-th-list
      hr
      .row
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_a.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_b.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_c.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
      .row
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_d.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_e.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_f.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
      .row
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_a.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_b.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
        .col-md-4.col-sm-4.col-xs-12.col-min-12
          img(src="../image/blog/image_f.jpg" alt="")
          h4 REVIEW SON KEM BOURIOIS VELET
          hr
          p
            | Hi chào các nàng..sau khá nhiều lời rứa ảo thì hôm nay tớ quay lại hâm
            | nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dẫn tình xô nhau đi tắm Free để gải nhiệt
          p
            i Bởi Nam Trần ( 26/5/2018)
          hr
          .note
            p
              i Đoc thêm
              span.glyphicon.glyphicon-chevron-right
          .note_1
            p
              i  23 bình luận
      .icon_last
        span.glyphicon.glyphicon-th
        span.glyphicon.glyphicon-th-list
      hr
include include/footer
