include include/header
    .container
      div
        p.menu-small
          | Home > Sản phẩm > 
          span(style='color:darkgreen')  Tin tức > Lắc tay
        hr
      .row
        .col-md-1.col-sm-1.col-xs-12.col-min-12.up
          .row.text-center
            img(src='../image/detail/up_down.jpg', alt='')
          img(src='../image/detail/3.jpg', alt='')
          img(src='../image/detail/4.jpg', alt='')
          img(src='../image/detail/5.jpg', alt='')
          img(src='../image/detail/6.jpg', alt='')
          .row.text-center
            img(src='../image/detail/down_detail.jpg', alt='')
        .col-md-5.col-sm-5.col-xs-12.col-min-12
          img#image_79(src='../image/detail/2.jpg', alt='')
        .col-md-6.col-sm-6.col-xs-12.col-min-12
          p.tilte_small LẮC TAY DJULII XU HƯỚNG MỚI NHẤT
          p TYPPPIF
          p
            span.price 955.000đ
            span 999.000đ
          p
            | Không thể phủ nhận thời trang là xu hướng đi đầu hiện nay trong giới trẻ
            | .Không thể phủ nhận thời trang là xu hướng đi đầu hiện nay trong giới trẻ
            | Không thể phủ nhận thời trang là xu hướng đi đầu hiện nay trong giới trẻ
          h4 MÀU SẮC
          .box
            div
              | Màu bạc
              span.glyphicon.glyphicon-chevron-right
          h4 SIZE
          .box
            div
              | Size 12 
              span.glyphicon.glyphicon-chevron-right
          h4 SỐ LƯỢNG
          .small_detail
            .box_1
              p.content_btn MUA HÀNG
            .icon
              #heart.glyphicon.glyphicon-heart.darkgreen
              .glyphicon.glyphicon-refresh.darkgreen
          .icon_1
            div
              | Shopping & 
              span(style='color:red') Returns
            div
              img(src='../image/detail/icon.png', alt='')
      .container.center
        .col-md-9.col-sm-9.col-xs-12.col-min-12
          // <div class="all_title-1">
          .title_1  ĐẶC ĐIỂM NỔI BẬT
          .title_2  THÔNG TIN SẢN PHẨM
          .title_2  ĐÁNH GIÁ
        .col-md-3.col-sm-3.col-xs-12.col-min-12
          p.title_1 SẢN PHẨM BÁN CHẠY
      hr
      .container
        .row
          .col-md-6.col-sm-6.col-xs-12.col-min-12.footer-copy-grid.footer-h1
            p.tilte_small_a THE MARK OF A LENGEN 
            hr
            p Tự hào được ghi là năm mà Tiudd
            p
              | It is a long established fact that a reader will be distracted
              | by the readable content of a page when looking at its layout.
              | The point of using Lorem Ipsum is that it has a more-or-less
              | normal distribution of letters, as opposed to using 'Content here,
              | content here'
          .col-md-3.col-sm-3.col-xs-12.col-min-12.footer-copy-grid.footer-h1
            img.image_detail_1(src='../image/detail/10.jpg', alt='')
          .col-md-3.col-sm-3.col-xs-12.col-min-12.footer-copy-grid.footer-h1
            .detail_1
              .comment
                img.image_detail(src='../image/detail/1.jpg', alt='')
              .comment_1
                h5 Mỹ phẩm Châu Âu
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                p (4 lượt mua)
                p 355.000đ
              hr(style='clear:both')
            .detail_2
              .comment
                img.image_detail(src='../image/detail/1.jpg', alt='')
              .comment_1
                h5 Mỹ phẩm Châu Âu
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                .glyphicon.glyphicon-heart
                p (4 lượt mua)
                p 355.000đ
              hr(style='clear:both')
          // khac
          .row
            .col-md-4.col-sm-4.col-xs-12.col-min-12
              img(src='../image/detail/8.jpg', alt='')
            .col-md-5.col-sm-5.col-xs-12.col-min-12
              h4 THE MARK OF A LENGEN 
              p
                | It is a long established fact that a reader will be distracted
                | by the readable content of a page when looking at its layout.
                | The point of using Lorem Ipsum is that it has a more-or-less
                | normal distribution of letters, as opposed to using 'Content here,
                | content here'
            .col-md-3.col-sm-3.col-xs-12.col-min-12
              .detail_1
                .comment
                  img.image_detail(src='../image/detail/1.jpg', alt='')
                .comment_1
                  h5 Mỹ phẩm Châu Âu
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  p (4 lượt mua)
                  p 355.000đ
                p(style='clear:both')
                p SẢN PHẨM MUA NHIỀU
                hr
          // khac2
          .row
            .col-md-6.col-sm-6.col-xs-12.col-min-12.footer-copy-grid.footer-h1
              h4 THE MARK OF A LENGEN 
              hr(style='width:40%')
              p Tự hào được ghi là năm mà Tiudd
              p
                | It is a long established fact that a reader will be distracted
                | by the readable content of a page when looking at its layout.
                | The point of using Lorem Ipsum is that it has a more-or-less
                | normal distribution of letters, as opposed to using 'Content here,
                | content here'
            .col-md-3.col-sm-3.col-xs-12.col-min-12.footer-copy-grid.footer-h1
              img.image_detail_1(src='../image/detail/7.jpg', alt='')
            .col-md-3.col-sm-3.col-xs-12.col-min-12.footer-copy-grid.footer-h1
              .detail_1
                .comment
                  img.image_detail(src='../image/detail/1.jpg', alt='')
                .comment_1
                  h5 Mỹ phẩm Châu Âu
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  p (4 lượt mua)
                  p 355.000đ
                hr(style='clear:both')
              .detail_2
                .comment
                  img.image_detail(src='../image/detail/1.jpg', alt='')
                .comment_1
                  h5 Mỹ phẩm Châu Âu
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  .glyphicon.glyphicon-heart
                  p (4 lượt mua)
                  p 355.000đ
                hr(style='clear:both')
            // khac3
            .row
              .col-md-4.col-sm-4.col-xs-12.col-min-12
                img(src='../image/detail/9.jpg', alt='')
              .col-md-5.col-sm-5.col-xs-12.col-min-12
                h4 THE MARK OF A LENGEN 
                p
                  | It is a long established fact that a reader will be distracted
                  | by the readable content of a page when looking at its layout.
                  | The point of using Lorem Ipsum is that it has a more-or-less
                  | normal distribution of letters, as opposed to using 'Content here,
                  | content here'
              .col-md-3.col-sm-3.col-xs-12.col-min-12
                .detail_1
                  .comment
                    img.image_detail(src='../image/detail/1.jpg', alt='')
                  .comment_1
                    h5 Mỹ phẩm Châu Âu
                    .glyphicon.glyphicon-heart
                    .glyphicon.glyphicon-heart
                    .glyphicon.glyphicon-heart
                    .glyphicon.glyphicon-heart
                    .glyphicon.glyphicon-heart
                    p (4 lượt mua)
                    p 355.000đ
                  hr
include include/footer
