
    .footer
      .container
        #row_footer.row
          .col-md-4.col-sm-4.col-xs-12.col-min-12.footer-copy-grid.footer-h1
            h4 LIÊN HỆ VỚI CHÚNG TÔI
            p Tầng 4,tòa nhà Hà Nội Group số 442 Đội Cấn,p.Cống Vị,Q.Ba Đình,Hà Nội
            p
              span (04) 6674 2332
              | (04) 3786 8904
            p
              span (08) 6680 9686
              span
                a(href='mailto:Support@bizweb.com') Support@bizweb.com
          .col-md-2.col-sm-2.col-xs-12.col-min-12.footer-copy-grid.footer-h2
            h4 CHUYỂN HÀNG
            p Mua sắm trực tuyến
            p
            ul
              li Đến từ chúng tôi gửi đến
            p
            p Chính sách vận chuyển
            p Vận chuyển thông tin
          .col-md-2.col-sm-2.col-xs-12.col-min-12.footer-copy-grid.footer-h3
            h4 HỖ TRỢ
            p Câu chuyện của chúng ta
            p Điêu khoản & Điều kiện
            p Chính sách riêng tư
            p Đơn đặt hàng và Return
          .col-md-2.col-sm-2.col-xs-12.col-min-12.footer-copy-grid.footer-h4
            h4 THÔNG TIN
            p Về chúng tôi
            p Điều khoản và điều kiện
            p Chính sách riêng tư
            p Đơn đặt hàng và Return
          .col-md-2.col-sm-2.col-xs-12.col-min-12.footer-copy-grid.footer-h4
            h4 MY ACCOUNT
            p Về chúng tôi
            p Điều khoản và điều kiện
            p Chính sách riêng tư
            p Đơn đặt hàng và Return
      hr
      .container
        .copyright
          p ©Copyright 2008-2014 DKT Technology JSC
        .icon_home
          img(src='../image/home/Home_icon_1.jpg', alt='')
          img(src='../image/home/Home_icon_2.jpg', alt='')
          img(src='../image/home/Home_icon_3.jpg', alt='')
          img(src='../image/home/Home_icon_4.jpg', alt='')
